[submodule "jp-split"]
	path = jp-split
	url = https://github.com/Satachito/jp-split.git
[submodule "ReplaceNumeral"]
	path = ReplaceNumeral
	url = https://github.com/Satachito/ReplaceNumeral.git
[submodule "WASM+C++/src/utfcpp"]
	path = WASM+C++/src/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
