[submodule "jp-split"]
	path = Pages/jp-split
	url = https://github.com/Satachito/jp-split.git
[submodule "ReplaceNumeral"]
	path = Pages/ReplaceNumeral
	url = https://github.com/Satachito/ReplaceNumeral.git
