SliP.xcodeproj/project.xcworkspace/xcuserdata/sat.xcuserdatad/UserInterfaceState.xcuserstate
SliP.xcodeproj/xcuserdata/sat.xcuserdatad/xcschemes/xcschememanagement.plist
tmp/
_
__
*.swp
.firebase/
public/
