<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SliP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E25C15A1CA6908D0076407D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E280C5F1CAB7451007E70C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3DAC741CAC84E300867721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E673DDC1C87C4EA00478AFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9212371C9293A300291735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E92124C1C9293DD00291735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9212611C9293F600291735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E93524C1EAB4F4E006CCD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9C15C81CA8FA22002F2F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF00C0F1CAB752500F17138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
